@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  text-decoration: none!important;
  color: inherit!important;
}

body {
  background-color: #f7f7f7 ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

/* NAVBAR */

.navbar {
  background-color: #5A384F;
  font-family: 'PT Sans Narrow',Arial,sans-serif;
  color: #e2e2e2 !important;
}
.dropdown-item {
  background-color: #5c182f;
  

}
.dropdown-item :hover{
  color: #5c182f!important;
  text-decoration: initial;
}
.dropdown-item :active{
  color:  #5c182f!important;
  text-decoration: initial;
}
.dropdown-item :focus{
  color:  #5c182f!important;
  text-decoration: initial;
}
.navbar:hover {
  
  text-decoration-color:black!important;
}


/* ACCUEIL */

.carousel {
  max-height:100vh;
}

.hero {
  max-height:95vh;
}

/* LOGIN PAGE */

.form-box {
  background-color: #e2e2e2;
}

.white {
  color: #e2e2e2!important;
}
.cancel {
  background-color: grey !important;
  border: solid grey;
}

.blue {
  color:#271f1f!important;
}

.ewqlqQ {
  background: #5c182f!important;
  bottom: 0;
  width: 100%;
}
button{
  background-color:#5A384F!important ;
}
.logo{
  height:50px;
  width:100px ;
}
.logofooter{
  justify-content: center!important ;
  text-align: center;
  
  
}
button#input-group-dropdown-1 {
  color: white!important;
}
.tomato{
  color: black;
}




