@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  text-decoration: none!important;
  color: inherit!important;
}

body {
  background-color: #2C2B3D;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

/* NAVBAR */

.navbar {
  background-color: #FEB613;
}

/* ACCUEIL */

.carousel {
  max-height:100vh;
}

.hero {
  max-height:95vh;
}

/* LOGIN PAGE */

.form-box {
  background-color: #FEB613;
}

.white {
  color: #fff!important;
}

.blue {
  color:#2C2B3D!important;
}