@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  text-decoration: none!important;
  color: inherit!important;
}

body {
  background-color: #f7f7f7 ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

/* NAVBAR */

.navbar {
  background-color: #5A384F;
  font-family: 'PT Sans Narrow',Arial,sans-serif;
  color: #e2e2e2 !important;
}
.dropdown-item {
  background-color: #5A384F;
  

}
.dropdown-item :hover{
  color: #5A384F!important;
  text-decoration: initial;
}
.dropdown-item :active{
  color:  #5A384F!important;
  text-decoration: initial;
}
.dropdown-item :focus{
  color:  #5A384F!important;
  text-decoration: initial;
}
.navbar:hover {
  
  text-decoration-color:black!important;
}


/* ACCUEIL */

.carousel {
  max-height:100vh;
}

.hero {
  max-height:95vh;
}

/* LOGIN PAGE */

.form-box {
  background-color: #e2e2e2;
}

.white {
  color: #e2e2e2!important;
}

.cancel {
  margin-left: 10px;
  color: #5A384F!important;
  background-color: #e2e2e2 !important;
  border: 1px solid #5A384F;
}

.cancel:hover {
  border: 1px solid #5A384F;
}

.blue {
  color:#271f1f!important;
}

.ewqlqQ {
  background: #5A384F!important;
  bottom: 0;
  width: 100%;
}
button{
  background-color:#5A384F!important ;
}
.logo{
  height:50px;
  width:100px ;
}
.logofooter{
  justify-content: center!important ;
  text-align: center;
  
  
}
button#input-group-dropdown-1 {
  color: white!important;
}

.tomato{
  color: #dc3545!important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff!important;
  text-decoration: none;
  background: #5A384F!important;
}

.dropdown-item :active {
  color: #fff!important;
  text-decoration: initial;
}

/* FOOTER */

.footer-links {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-links li {
  display: inline-block;
}

.footer-legal li.divider, .footer-links li.divider {
  color: #d1d1d1;
  padding: 0 8 px;
}

.footer-legal {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  clear: both;
}

.footer-legal.top {
  max-width: 550px;
  padding-top: 60px;
  border-top: 1px solid #e6e6e6;
}

.footer-legal li {
  display: inline-block;
}

.footer-legal li, .footer-legal a {
  text-transform: uppercase;
  font-size: 12px;
  color: #898989;
}

.purple {
  color:#5A384F!important;
}

.btn:hover {
  background-color:#d7b761!important;
  border:1px solid #5A384F!important;
  color:#5A384F!important;
}

.important{
  color: #5A384F!important;
  font-size: larger;
}